footer.fullscreen
  .info
    div.info__content--emphasis
      p
        strong.highlight Lorem ipsum dolor sit amet condimentum accumsan
        span.
          lorem ipsum dolor sit amet porttitor nam non vestibulum. Dui ante non aptent hac molestie viverra conubia libero letius nostra ut. Diam nam non eu aliquam lobortis felis. lorem ipsum dolor sit amet porttitor nam non vestibulum.
      a.button(href="./speakers.html")
        span.button__label View the speakers
