header.fullscreen
  img.logo(src="https://cdn.veeam.com/" alt)
  .hero
    h1.hero__headline.js-entry-transition
      span.hero__headline__letter 7
      span Lorem ipsum dolor sit amet mauris dictum magna
    p.hero__description Lorem ipsum dolor sit amet mauris dictum magna tortor si arcu.
    a.button(href="./speakers.html")
      span.button__label Speakers

  .info.info--gray
    .info__content
      p.
        Lorem ipsum dolor sit amet mauris dictum magna tortor si arcu. Lorem ipsum dolor sit amet mauris dictum magna tortor si arcu. Lorem ipsum dolor sit amet mauris dictum magna tortor si arcu. Lorem ipsum dolor sit amet mauris dictum magna tortor si arcu.
      p.
        Lorem ipsum dolor sit amet mauris dictum magna tortor si arcu. Lorem ipsum dolor sit amet mauris dictum magna tortor si arcu. Lorem ipsum dolor sit amet mauris dictum magna tortor si arcu.
